<aside class="main-header">
  <header class="module">
    <h1><a href="/">{{ site.title }}</a></h1>
  </header>
  <div class="module color2">
    {{ site.description }}
  </div>
  <nav class="module color4">
<!--     <a href="/">Página principal</a>
 -->    <a href="/calendario/">Calendário</a>
    <a href="/contact/">Contato</a>
  </nav>
  <div class="module color3">
  <br> Lucía Fernández Montoya
  <br> Joe Brew
<!--     <br>twitter/{{ site.twitter }}
    <br>{{ site.email }} -->
  </div>
</aside>
